[submodule "experiment_helpers"]
	path = experiment_helpers
	url = https://github.com/jamesBaker361/experiment_helpers.git
[submodule "clip_surgery"]
	path = clip_surgery
	url = https://github.com/xmed-lab/CLIP_Surgery.git
[submodule "improved-aesthetic-predictor"]
	path = improved-aesthetic-predictor
	url = https://github.com/christophschuhmann/improved-aesthetic-predictor.git
[submodule "CLIP-based-NSFW-Detector"]
	path = CLIP-based-NSFW-Detector
	url = https://github.com/LAION-AI/CLIP-based-NSFW-Detector.git
[submodule "d3po"]
	path = d3po
	url = https://github.com/yk7333/d3po.git
